<nav>
    <div class="logo">
        <h2>JS_HEAVEN</h2>
    </div>
    <div class="links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="button">
        <a href="/login"><button>Login</button></a>
    </div>
</nav>